# Dependency directories
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# Log files
*.log

# IDE and editor files
.vscode/
.idea/
*.iml
*.swp

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db






